* {
    /*border: red solid 1px;*/
}

header {
    color: #E1E1E1;
    background: url('../network.jpg');
    background-size: cover;
}

header div div {
    background-color: rgba(30, 30, 30, 0.6);
}